html,body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#4d4d4d;
    height: 100%;
}

.main{
    height: 100%;
}

.header,.footer{
    padding: 0 20px;
    color:#fff;
    background-color: #777777;
    height: 50px;
    line-height: 50px;
    
}
.body{
    height: calc(100% - 100px);
    padding: 20px;
    box-sizing: border-box;
}